<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Visão geral | YORE</title>
</head>

<body class="screen" id="app">
    <header>
        <%- include('partials/navbar') %>
    </header>
    <main id="main">
        <div class="container-fluid">
            <%- main %>
        </div>
    </main>
    <footer class="footer blacked mt-3">
        <%- include('partials/footer') %>
    </footer>
</body>
<script src="/js/sidenav.js"></script>
<script src="/js/todo.js"></script>

</html>