.navbar {
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, .1);
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .navbar-brand .logo {
    font-size: var(--font-28px);
    font-weight: 700;
    color: var(--color-light);
}

.navbar .menu {
    display: flex;
    align-items: center;
}

.navbar .divider {
    width: 2px;
    height: 32px;
    margin: 0 16px;
    background: rgba(255, 255, 255, 0.25);
}

.navbar .menu .menu-options {
    display: flex;
    align-items: center;
}

.menu-options .form {
    display: flex;
    align-items: center;
}

.menu-options .form .input {
    height: auto;
    width: auto;
    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    background: var(--color-black);
    color: var(--color-light);
    font-family: var(--poppins);
    transition: 0.2s;
}

.form .input:focus {
    height: auto;
    width: auto;
    outline: none;
    border: none;
    transition: 0.2s;
}

.menu-options .btn {
    margin-left: 8px;
}

.menu-options .form .btn-search {
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--color-blue);
    color: var(--color-light);
    font-size: var(--font-22px);
    border-radius: 10px;
    border: none;
    transition: .2s;
}

.menu-options .form .btn-search:hover {
    background: #0444c4;
    transition: .2s;
}

.menu-options .options {
    display: flex;
    align-items: center;
}

.menu-options .options .btn-cog {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #404091;
    font-size: var(--font-22px);
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

.options .btn-cog:hover {
    background: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0);
    color: var(--color-light);
    transition: 0.2s;
}

.menu-options .options .btn-user {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    color: var(--color-green);
    font-size: var(--font-22px);
    border-radius: 10px;
    border: none;
    transition: all 0.3s;
}

.options .btn-user:hover {
    background-color: #019c69;
    border-color: rgba(255, 255, 255, 0);
    color: var(--color-light);
}

.menu-options .options .btn-user i {
    margin-right: 8px;
}

.menu-options .options .btn-user .username {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.options .btn-login {
    padding: 10px 16px;
    margin-left: 8px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: var(--color-black);
    color: var(--color-green);
    transition: all 0.3s;
}

.options .btn-login:hover {
    background-color: #019c69;
    color: var(--color-light);
}

.navbar-toggle {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    background: var(--color-blue);
    color: var(--color-light);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.navbar-toggle span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-right: 8px;
}

.navbar-toggle .toggle {
    display: grid;
    grid-gap: 4px;
    margin-bottom: 2px;
}

.navbar-toggle .toggle div {
    width: 26px;
    height: 2px;
    background-color: var(--color-light);
}