<%- contentFor('main') %>
    <div class="pt-2">
        <h2 class="sec-title">Área dos pedidos</h2>
    </div>
    <div class="row pt-4">
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header red semi-radius">
                    <p class="title">Pedidos agendados</p>
                </div>
                <div class="card-body">
                    <ul class="historic-requests" draggable="true">
                        <li class="historic-request-item">
                            <p class="item-name">01 - John Doe, Av. Alguma Coisa - 455</p>
                            <ul class="item-info task-info">
                                <p>Itens do pedido:</p>
                                <div class="item">
                                    <li>Item 1,</li>
                                    <li>Item 2,</li>
                                    <li>Item 3</li>
                                </div>
                                <p class="item-price">Valor do Pedido: R$ 55,00</p>
                            </ul>
                            <div class="historic-item-option">
                                <div class="options">
                                    <a class="btn-check" href="#"><i class='bx bx-check'></i></a>
                                    <a class="btn-uncheck" href="#"><i class='bx bx-x'></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="action mt-3">
                <a href="/cadastrar-pedidos" class="btn btn-add-pedido">
                    <i class='bx bx-plus'></i><span class="add-order">Adicionar pedido</span>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header purple semi-radius">
                    <p class="title">Pedidos em entrega</p>
                </div>
                <div class="card-body">
                    <ul class="historic-requests" draggable="true">
                        <li class="historic-request-item">
                            <p class="item-name">02 - John Doe, Av. Alguma Coisa - 455</p>
                            <ul class="item-info task-info">
                                <p>Itens do pedido:</p>
                                <div class="item">
                                    <li>Item 1,</li>
                                    <li>Item 2,</li>
                                    <li>Item 3</li>
                                </div>
                                <p class="item-price">Valor do Pedido: R$ 55,00</p>
                            </ul>
                            <div class="historic-item-option">
                                <div class="options">
                                    <a class="btn-check" href="#"><i class='bx bx-check'></i></a>
                                    <a class="btn-uncheck" href="#"><i class='bx bx-x'></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header green semi-radius">
                    <p class="title">Pedidos entregues</p>
                </div>
                <div class="card-body">
                    <ul class="historic-requests" draggable="true">
                        <li class="historic-request-item">
                            <p class="item-name">03 - John Doe, Av. Alguma Coisa - 455</p>
                            <ul class="item-info task-info">
                                <p>Itens do pedido:</p>
                                <div class="item">
                                    <li>Item 1,</li>
                                    <li>Item 2,</li>
                                    <li>Item 3</li>
                                </div>
                                <p class="item-price">Valor do Pedido: R$ 55,00</p>
                            </ul>
                            <div class="historic-item-option">
                                <div class="options">
                                    <a class="btn-check" href="#"><i class='bx bx-check'></i></a>
                                    <a class="btn-uncheck" href="#"><i class='bx bx-x'></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>